{% extends "pizzas/toppings_base.html" %}
{% block body %}
        <h3 class="m-4">Available Options</h3>
        <div class="row">
            <div class="col-12">
                {% if toppings %}
                <div class="card bg-light ms-4 me-4 mb-4">
                    <div class="card-header">
                        <i class="fa-solid fa-cheese fa-lg"></i> Toppings
                    </div>
                    <div class="card-body">
                    <p class="card-text">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Type</th>
                                    <th scope="col" style="text-align: center;">Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for topping in toppings %}
                                    <tr id="topping-{{ topping.id }}" style="vertical-align: middle;">
                                      <td>{{ topping.name }}</td>
                                      <td style="text-align: center;">
                                        <a class="btn btn-outline-dark me-1 mb-1" href="{% url 'update_topping' topping.id %}">
                                            <i class="fa-solid fa-file-pen fa-lg"></i> Update
                                          </a>
                                        <button class="btn btn-outline-dark me-1 mb-1" data-bs-toggle="modal" data-bs-target="#delete{{topping.id}}">
                                            <i class="fa-solid fa-trash-can fa-lg"></i> Delete
                                        </button>
                                        
                                        </td>
                                      </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    </p>
                    </div>
                </div>
                {% else %}
                <h5 class="alert alert-primary ms-4 me-4">No Toppings Added</h5>
                {% endif %}
            </div>
        </div>
{% endblock %}
{% block modal %}
{% for topping in toppings %}
<div class="modal fade" id="delete{{topping.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title">
                                                    Deleting {{ topping.name }}
                                                  </h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true"></span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  <p>Are you sure you want to delete this topping?</p>
                                                </div>
                                                <div class="modal-footer">
                                                  <form action="{% url 'delete_topping' topping.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="submit" class="btn btn-outline-danger" value="Delete">
                                                  </form>
                                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
{% endfor %}
{% endblock %}